{% extends 'main/base.html' %}

{% block head %}
<title>страница золотой гойды</title>
<style>
    body{
        background: black;
    }
    .cube{
        margin: 0 auto;
        width: 350px;;
        height: 240px;
        background-color: whitesmoke;
        border-radius: 20px;
        padding-top: 10px;
        margin-top: 200px;
    }
    .login{
        font-size: 15px;
        border-radius: 12px;
        margin-left: 15px;
    }
</style>

{% endblock %}
{% block content %}
<div class="cube">
<form method="POST" action="edit_applay">
    {% csrf_token %}
    <p>
        <h1 style="margin-left: 20%; font-family: Arial">Edit Account</h1>
        <input style="margin-left: 70px;" id="Name" name="regName" class="login" type="text" required placeholder="Name">
    </p>
    <p>
        <label style="margin-left: 200px; font-family: Arial;">Delet account</label>
        <input " type="checkbox" name="del_acc">
    </p>
    <p>
        <button type="submit" style="border-radius: 10px; font-family: Arial; font-size: 20px; margin-left: 260px;">send</button>
    </p>
</form>
</div>
{% endblock %}